/*
 * ddl.css -- sample stylesheet for DAM downloadlist plugin
 *
 * $Id: ddl.css 129 2005-05-04 12:49:32Z sici $
 *
 */

// DAM_DOWNLOADLIST EXTENSION STYLE

dl.ddl_container {

}

dt.ddl_title {
	font-weight: bold;
	display: block;
}

dd.ddl_description {
	margin: 0.2em 0em 0.8em 1em;
	padding: 0em;
}

dd.ddl_description p {
	margin: 0.2em 0em;
	padding: 0em;
}

li.ddl_file_list_item {
	list-style-type: none;
	margin-left: 1em;
}

ul.ddl_file_list {
	padding: 0em;
	margin: 0em;
}
