li.ddl_file_list_item {
list-style-type: none;
margin-left: 1em;
}

dt.ddl_title {
	font-weight: bold;
	display: block;
	margin-top: 1em;
	background-color: #b5b3cb;
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll
	background-x-position: 0%;
	background-y-position: 0%;
}

dd.ddl_description p {
	margin-top: 0.2em;
	margin-right: 0em;
	margin-bottom: 0.2em;
	margin-left: 0em;
	padding-top: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	padding-left: 1em;
}

dd.ddl_description {
	margin-top: 0.2em;
	margin-right: 0em;
	margin-bottom: 0.8em;
	margin-left: 1em;
}

div#content img {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #b5b3cb;
	border-right-color: #b5b3cb;
	border-bottom-color: #b5b3cb;
	border-left-color: #b5b3cb;
	background-color: white;
	background-image: none;
	background-repeat: repeat;
	background-attachment: scroll;
	background-x-position: 0%;
	background-y-position: 0%;
	}

div .tx-damfrontend-pi2 a:link, a:visited {
	color: #373535;
	text-decoration: none;
}

