@CHARSET "UTF-8";
/*---------------------------------- Categorytree */
cattree {
}
.cattree td {
	font-size: 80%;
}
#content .cattree img {
	padding: 0px;
	background: none;
	margin: 0px;
	border-width: 0px;
}
.cattree div.control{
	width: 100px;
}

.treeelem a, a:link, a:visited {
	border-style: none;
	color:#373535;
	text-decoration:none;
}

a:link, a:visited {
	color:#373535;
	text-decoration:none;
}

.cattree img {
	background:transparent none repeat scroll 0%;
	border-width:0px;
	margin:0px;
	padding:0px;
}
img {
	background:white none repeat scroll 0%;
	border:1px solid #B5B3CB;
	padding:5px;
}

.treeelem img {
	border-style: none;
	}
/*---------------------------------- Filelist */
table.filelist {
	font-size: 90%;
	border-collapse: collapse;
	border: 1px solid #B5B3CB;
	width: 100%;
}
table.filelist td img {
	border-width: 0px;
	border-color: white;
	padding: 0px;
	margin: 0px;
}
table.filelist td {
	padding: 5px;
}
table.filelist th {
	color: white;
	background: #B5B3CB;
	padding-bottom: 9px;
}
table.filelist td a img {
	border-width: 0px;
	border-color: white;
	padding: 0px;
	margin: 0px;
}
/*-------------------------------SingleView */
table.file_singleView {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #B5B3CB;
	font-size: 90%;
}
table.file_singleView th {
	text-align: left;
	padding: 5px;
	color: white;
	background: #B5B3CB;
}
table.file_singleView td {
	padding: 3px;
}
table.file_singleView td.title {
	font-weight: bold;
	color: #B5B3CB;
	width: 50%; 
}
.tree_selectedCats {
	background: #B5B3CB;
	font-weight: bold;
}
.tree_unselectedCats {
	
}
/*--------------------------------Categorylist */
.delete_button a:link,
.delete_button a:visited{
	border: 1px solid #B5B3CB; 
	font-size: 130%;
	font-weight: bold; 
	color: #B5B3CB;
	width: 20px;
	height: 20px;
	padding-right: 5px;
	padding-left: 5px;
}	
.delete_button a:hover {
	background: #B5B3CB;
	color: white;
}
/*-------------------------------  Menu */
ul.foldout {
	list-style: none;
	position: absolute;
	top: 1px;
	border: 1px solid #B5B3CB;
	margin: 0px;
	padding: 0px;
	border-bottom-width: 0px;
	border-top-width: 0px;
	background: white;
}
ul.foldout li {
	padding: 10px;
	border-bottom: 1px solid #B5B3CB;
	font-size: 90%;
	min-width: 300px;	
}

/******************************** BrowserResult
ul#browseresultlist {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
ul#browseresultlist li {
	float: left;
	padding-right: 10px;
}

